.example-spacer {
    flex: 1 1 auto;
  }
.links {
    display: flex;
    justify-content: space-evenly;
    column-gap: 2em;
}  

a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.active {
    text-decoration: underline;
    text-decoration-color: orangered;
}
