form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }

  .login-btn {
    width: 70%;
    margin-left: 15%;
  }

  input mat-input {
    border: 1px solid red;
  }
  .container {
    border: 2px solid gray;
    width: 25%;
    margin:  5em auto;
    padding: 2em;
  }

  .register-text {
    margin-top: 10px;
    text-align: center;
  }
