<p>
    <mat-toolbar color="primary">
        <span><img src="assets/rock-lee.jpg" class="user-photo">Logged in user</span>
        <span style="margin-left: 30%;">SharePhotos</span>
        <span class="example-spacer"></span>
        <div class="links">
            <a routerLink="/dashboard" routerLinkActive="active">Home</a>
            <a routerLink="/profile" routerLinkActive="active">Profile</a>
            <a (click) = "logOut()" routerLinkActive="active">Log Out</a>
        </div>
    </mat-toolbar>
</p>