<app-dashboard-nav-bar></app-dashboard-nav-bar>
<div class="users-container">
    <h3>Users</h3>
    <p><img src="#" alt="user profile pic"> User 1</p>
    <p><img src="#" alt="user profile pic"> User 2</p>
    <p><img src="#" alt="user profile pic"> User 3</p>
    <p><img src="#" alt="user profile pic"> User 4</p>
    <p><img src="#" alt="user profile pic"> User 5</p>
    <p><img src="#" alt="user profile pic"> User 6</p>
    <p><img src="#" alt="user profile pic"> User 7</p>
    <p><img src="#" alt="user profile pic"> User 8</p>
    <p><img src="#" alt="user profile pic"> User 9</p>
    <p><img src="#" alt="user profile pic"> User 10</p>

</div>
<app-footer></app-footer>